@model QuizAddVM

 
 
<div class="row" style="height:600px">
    <div class="col-md-6">
       
       <form asp-action="Add" method="post" enctype="multipart/form-data">
       <h3>Create quiz</h3>
       <div class="form-group  mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group  mb-3">
        <label asp-for="Description"></label>
        <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="form-group mb-3">
         <label asp-for="Date"> </label>          
         <input asp-for="Date" class="form-control">
         <span class="text-danger" asp-validation-for="Date"></span>
    </div>

    <label asp-for="Image"></label>
    <div class="form-group  mb-3">
        <input type="file" name="file" id="fileImage" class="form-control"/>
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>

    <div class="form-group  mb-3">
         <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form> 
     
    </div>
</div>

 
