@model RegisterVM

<div class="row" style="height:600px">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Register"  method="post" enctype="multipart/form-data">

            <h3>Register</h3>
            <div class="form-group  mb-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email"> </label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group  mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"></input>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword"> </label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group  mb-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>

    </div>
</div>
